<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ebay suite" verbose="1" thread-count="2"
	parallel="tests">
	<listeners>
		<listener class-name="com.ebay.TestNGExecutionListener"></listener>
	</listeners>
	<test name="Ebay scenario - Chrome" annotations="JDK">
		<parameter name="browserName" value="chrome"></parameter>
		<classes>
			<class name="com.ebay.RunCukeTest" />
		</classes>
	</test>
	<test name="Ebay scenario - Firefox" annotations="JDK">
		<parameter name="browserName" value="firefox"></parameter>
		<classes>
			<class name="com.ebay.RunCukeTest" />
		</classes>
	</test>
</suite>